*,
*::before,
*::after {
    box-sizing: border-box;
}

:root { /*sutome properties*/
    --ff-primary: 'Source Sans Pro', sans-serif; /*primary font*/
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300; /*font weight*/
    --fw-bold: 900;
/*background color*/
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --clr-grey: #eeeeee;
/*Makes font sizes bigger as screen gets smaller*/    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 0.125em 0.125em 0.25em rgba(0,0,0,.15); /* box shadow for intro image*/
}

/*font sizes for full screen*/
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.75rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles*/

html {
    scroll-behavior: smooth;
}


body {
    background: var(--clr-light); /*sets background as light*/
    color: var(--clr-dark); /*our color will be dark for certain blocks*/
    margin: 0;
    font-family: var(--faminly-primary); /*font family using*/
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 2em 2em;
}

img {
    display: block;
    max-width: 100%;
}
strong { font-weight: var(--fw-bold) }

/*Will highlight the button when hovering over it*/
:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/*button*/
.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    
}

/*Hovering over the button will make it bigger*/
.btn:hover {
    transform: scale(1.1);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-right: 20px;
    padding-bottom: 1em;
    padding-top: 1em;
}

/*Typography*/
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }



.section__title {
    margin-bottom: .25em
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block; /* Will make whatever is bolded on a new line. Srong = bolded*/
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro, 
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/*header*/

.logo {
    max-width: 100px;
}

.nav{
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier (.5, 0, .5, 1);
}

.nav__link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}
.nav__link:hover {
    color: var(--clr-accent);
}

.nav__list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:0;
    padding: 0;
}

/* Intro Section */
.intro {
    position: relative;
    background-color: var(--clr-dark);
    color: var(--clr-light);
  
}

.intro__img {
    box-shadow: var(--bs);
    max-width: 300px;
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .About-Me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--About-Me {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative; /*to show words on accent block*/
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);/*words will nvr touch photo*/

    }

    .About-Me__img {
      grid-area: img;
      position: relative;
      max-width: 100%;
      z-index: 2;
    }
}



/*Skills and certification area*/
.skills {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    
}
.section__title--My_Skills {
    color: var(--clr-accent);
    position: relative;

}

.section__title--My_Skills::after { /*for smol line under the main title*/
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;

}

@media (min-width: 800px) {
    .intro {
        display: grid;
        justify-content: center;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img{
        grid-area: img; /*img isnt connected to index.html*/
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -0.5em;
        width: calc(100% + 1em); /*text does not stay the same when screen gets minimized in colored box*/
    }

    .Skills-and-Certifications {
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        max-width: 1400px;
    }
    
    .Skills-and-Certification {
        padding: 0 30px;
        width: 20%;
    }
    
    .Skills-and-Certification > h3 {
        display: inline-block;
        padding: 0 25%;
    }
    
    ul {
        text-align: left;
    }
    
}

/*About me Section*/
.About-Me {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--clr-grey);
}

.About-Me__img {
    box-shadow: var(--bs);
}
    
/* @media (min-width: 800px) {
    .Skills-and-Certifications {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
    }
    .Skills-and-Certification + .Skills-and-Certification { space between each skill catagory
        margin-left: 1.5em;
    }
} */

/*Work Expirience Section!*/
.work-experience{
    background-color: var(--clr-grey);
    color: var(--clr-dark);
    text-align: center;  
    max-width: 1000px;
    margin: 0 auto; 
}

.section__subtitle--My-Work { /*make Acuity Polymers  in accent colored lined*/
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--Jabil { /*make Jabil in accent colored lined*/
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}


/*My Projects section!!!!!!!*/
.my-projects {
    background-color: var(--clr-dark); /*main background color for projects section*/
    color: var(--clr-accent); /*font color*/
    
}
.section__subtitle--My-Projects {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 1em;
    text-align: center;
}

/*my Projects title*/
.section__title--My-projects {
    color: var(--clr-light);
    text-align: center;
}

.projects{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));/*image setup for projects*/
   padding-bottom: 20px;

}
.portfolio__item{
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img{
    transition: 
        transform 750ms cubic-bezier(.5,0,.5,1),
        opacity 250ms linear;
}
.portfolio__item:focus{
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img{
    transform: scale(1.1);
    opacity: .75;
}

@media (max-width: 1200px) {
    .buttons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 2em;
    }

    .btn {
        text-align: center;
    }
}
/*my Autonation Projects introduction
.introProjPageAuto {
    background-color: var(--clr-dark);
    background-image: url(img/automation_Background.png);
    background-size: cover;
    /* background-blend-mode: multiply; 
    color: var(--clr-light);
    text-align: center;
}*/
.section__subtitle--intro{
    background: var(--clr-accent);
    color: var(--clr-dark); /*for font*/
    padding: .25em .75em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    text-align: right;
}

.section__subtitle--intro-projects{
    background: var(--clr-accent);
    color: var(--clr-dark); /*for font*/
    padding: .25em .75em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    text-align: center;
}

.section__title--Project1::after { /*for smol line under the main title*/
    content: '';
    display: block;
    width: 15em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent);
    opacity: 0.25;
}

.colorContainerEven {
    background-color: #202020;
}

.colorContainerOdd {
    background-color: white
}

.Project_Intro_Every_Page{   /*This will be the header for each project page*/
    background-color: #FAEDCD;
    background-size: cover;
    background-blend-mode: multiply; 
    text-align: center;
    left: 0;
    width: 95vw;
    margin: 0 auto;
}

/*.introProjPageAuto {
    background-color: #FAEDCD;
    background-size: cover;
    background-blend-mode: multiply; 
    text-align: center;
    margin: 0 auto;*/

.Project1 {
    background: var(--clr-dark);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
    max-width: 1000px;
    margin: 0 auto; 
}
.section__title--Project::after { /*for smol line under the main title*/
    content: '';
    display: block;
    width: 15em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent);
    opacity: 0.50;
}
.Project{
    background: var(--clr-grey);
    background-size: cover;
    color: var(--clr-dark);
    text-align: center;
    max-width: 1000px;
    margin: 0 auto; 
}
.section__title--Project3::after { /*for smol line under the main title*/
    content: '';
    display: block;
    width: 15em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent);
    opacity: 0.25;
}
.Project3{
    background: var(--clr-dark);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
    max-width: 1000px;
    margin: 0 auto; 
}
.section__title--Project4::after { /*for smol line under the main title*/
    content: '';
    display: block;
    width: 15em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent);
    opacity: 0..50;
}
.Project4{
    background: var(--clr-grey);
    background-size: cover;
    color: var(--clr-dark);
    text-align: center;
    max-width: 1000px;
    margin: 0 auto; 

}
.section__title--Project5::after { /*for smol line under the main title*/
    content: '';
    display: block;
    width: 15em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent);
    opacity: 0.25;
}
.Project5{
    background: var(--clr-dark);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
    max-width: 1000px;
    margin: 0 auto; 
}

/*my Design Projects introduction*/
.introDes {
    background-color: var(--clr-dark);
    background-image: url(img/Design_background.png);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}
.section__subtitle--intro_auto{
    background: var(--clr-accent);
    color: var(--clr-dark); /*for font*/
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    text-align: center;
}

/*my Programming Projects introduction*/
.introProg {
    background-color: var(--clr-dark);
    background-image: url(img/code_background.png);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}
.section__subtitle--introprogproj{
    background: var(--clr-accent);
    color: var(--clr-dark); /*for font*/
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    text-align: center;
}
/*Centering images*/
.Project1__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%;*/
}
.Project2__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
     /*width: 50%;*/
}
.Project3__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.Project4__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.Project5__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
     width: 50%;
}

/*p {
    margin: 0 auto;
    max-width: 75%;
    text-align: left;
}
*/

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 101;
}

/* Project photo header text */
.programming-header {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 6px 6px 6px black;
}

.automation-header {
    color: #FFD580;
    padding-bottom: 20px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 6px 6px 6px black;
}

.design-header {
    color: #CBC3E3;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 6px 6px 6px black;
}

.programming-underline {
    text-decoration-color: black;
}

.automation-underline {
    text-decoration-color: white;
}

.design-underline {
    text-decoration-color: black;
}

a {
    color: var(--clr-accent);
}

a:hover {
    opacity: 0.7;
}

.content {
    display: none; /* Hide content initially */
    margin-left: 20px;
}

h3 {
    cursor: pointer;
    color: #D4A373; /* Makes the headers look interactive */
}

#topBarEveryPage {
    background-color: #E9EDC9;
    height: 7.5vh;
}

#navMenu {
    max-width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navMenu a {
    text-decoration: none;
    color: black;
    margin: 0 20px;
    font-size: 1.5em;
    font-weight: bold;
}

#infoContainer {
    background-color: #E9EDC9;
}

#projectTitle {
    display: flex;
    justify-content: center;
}

#projectMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#projectAbstract {
    display: flex;
    justify-content: center;
}

#projectBody {
    margin: auto;
    max-width: 50%;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

#projectInformation {
    margin: auto;
    max-width: 70%;
}

.content {
    margin: auto;
    max-width: 75%;
}

.content>li {
    text-align: left;
}

.contentChild>li {
    text-align: left;
}

#buttonInfo {
    display: flex;
    justify-content: space-between;
}

#previousProjectText {
    padding-left: 10px;
}

#nextProjectText {
    padding-right: 10px;
}

#previousProject {
    padding-left: 10px;
    color: black;
}

#previousProject:hover {
    cursor: pointer;
    scale: 1.5;
}

#nextProject {
    padding-right: 10px;
    color: black;
}

#nextProject:hover {
    cursor: pointer;
    scale: 1.5;
}

/*Footer....FEEEEEEET lol*/
#footer {
    display: flex;
    justify-content: center;
    background-color:#E9EDC9;
    color: var(--clr-accent);
    text-align: center;
    font-size: var(--fs-h3);
}

#footerLink {
    font-weight: var(--fw-bold);
}